@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 792px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.wrapper{
    background-color: #fff;
    border-radius: 0.4rem;
    position: relative;
    min-height: 792px;
    width: 100%;
}
.blue-bg{
    position: absolute;
    background-color: #0a146e;
    top: 0;
    left: 0;
    width: 100%;
    height: 396px;
}
.white-bg{
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 0;
    width: 100%;
    height: 396px;
}
.converter-wrapper{
    min-width: 900px;
    background-color: #fff;
    border-radius: 0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 4rem 3rem;
    -webkit-box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.2);
}
.converter-wrapper h2{
    position: absolute;
    top: -70px;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
}
.converter-inputs{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.converter-inputs > div{
    margin-bottom: 2rem;
}
.converter-inputs label{
    color: #5d7079;
    margin-bottom: 0.5rem;
    display: block;
}
.converter-inputs input, .converter-inputs select{
    border: 1px solid #c6c7c9;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.8rem;
    outline: 0;
    width: 100%;
}
.icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0!important;
}
.icon img{
    width: 40px;
}
.icon button{
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.icon button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.result-wrapper{
    font-size: 1.4rem;
}
#from-result{
    color: #0a146e;
    font-weight: bold;
}
#to-result{
    color: #2ed06e;
    font-weight: bold;
}
#convert-btn{
    background-color: #0a146e;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    margin-top: 1.6rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .converter-wrapper h2{
        font-size: 2rem;
        top: -100px;
    }
    .converter-inputs{
        grid-template-columns: repeat(2, 1fr);
    }
    .converter-wrapper{
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-width: 400px;
    }
    .result-wrapper{
        font-size: 1.2rem;
    }
    #convert-btn{
        width: 100%;
    }
}

@media screen and (max-width: 678px){
    .converter-wrapper{
        min-width: 325px;
    }
}